<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pituusvertailija</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; text-align: center;">
        <h1>Tervetuloa Pituusvertailulaskuriin</h1>
        <div style="margin-top: 20px;">
            <a class="btn btn-success" href="/laskuri" style="margin-right: 10px;">Laskuriin</a>
            <a class="btn btn-success" href="/tuotteet">Tietoja laskurista</a>
        </div>
    </div>
</body>
</html>