<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pituusvertailija</title>
</head>
<body>
    <div style="padding-left: 5%; padding-top: 1%;">
        <h4>Hei <span sec:authentication="name"></span>!</h4>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-danger"/>
        </form>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh; text-align: center;">
        <h1>Tervetuloa Pituusvertailulaskuriin</h1>
        <div style="margin-top: 20px;">
            <a class="btn btn-success" href="/vertailu" style="margin-right: 10px;">Vertailulaskuriin</a>
            <a class="btn btn-success" href="/esineet">Esinelistaus</a>
        </div>
    </div>
</body>
</html>